.faq-section .perguntas-container {
  max-width: 610px;
  margin: 27px auto;
}

.faq-section .bloco-pergunta + .bloco-pergunta {
  margin-top: 27px;
}

.faq-section .pergunta {
  font-size: 1.125rem;
  color: #D8AA75;
  font-weight: bold;
  margin-bottom: 5px;
}

.faq-section .pergunta::before{
  content: '►';
  margin-right: 5px;
  transition: .3s;
}

.faq-section .pergunta.ativo::before{
  content: '▼';
}

/* Animação */

[data-accordion] .resposta {
  height: 0;
  padding-top: 5px;
  transition: .5s all ease-in-out;
  overflow: hidden;
}

[data-accordion] .resposta.ativo {
  height: 200px;
}
