.faq-section .perguntas-container {
  max-width: 610px;
  margin: 27px auto;
}

.faq-section .bloco-pergunta + .bloco-pergunta {
  margin-top: 27px;
}

.faq-section .pergunta {
  font-size: 1.125rem;
  color: #D8AA75;
  font-weight: bold;
  margin-bottom: 5px;
}

.faq-section .pergunta::before{
  content: '►';
  margin-right: 5px;
}

.faq-section .pergunta.ativo::before{
  content: '▼';
}

.faq-section .resposta {
  display: none;
}

.faq-section .resposta.ativo {
  display: block;
}
