/* Animação Títulos das seções */
.js section .titulo-section,
.js section .titulo-container {
  opacity: 0;
}

.js section.show .titulo-section,
.js section.show .titulo-container {
  animation: anima-para-baixo .5s forwards;
}
/* Fim animação Títulos das seções */

/* Ocultando os itens das seções */ 
.js #aproveite-section .card,
.js #locais-section .tab-nav,
.js #locais-section .tab-nav-content-container,
.js #opinioes-section .opiniao-item,
.js #opinioes-section .numero-visitantes-container,
.js #faq-section .perguntas-container,
.js #contato-section .mapa-container,
.js #contato-section .lista-dados-contatos {
  opacity: 0;
  visibility: 0;
}
/* Fim ocultando os itens das seções */ 

/* Classes para animação */
.show .anima-para-cima{
  animation: anima-para-cima .7s forwards;
}

.show .anima-para-baixo{
  animation: anima-para-baixo .7s forwards;
}

.show .anima-para-esquerda {
  animation: anima-para-esquerda .7s forwards;
}

.show .anima-para-direita {
  animation: anima-para-direita .7s forwards;
}
/* Fim classes para animação */

/* Animações que serão reaproveitadas */
@keyframes anima-para-cima {
  from{
    opacity: 0;
    visibility: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    visibility: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes anima-para-baixo {
  from{
    opacity: 0;
    visibility: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    visibility: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes anima-para-esquerda {
  from{
    opacity: 0;
    visibility: 0;
    transform: translate3d(+20px, 0, 0);
  }
  to {
    opacity: 1;
    visibility: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes anima-para-direita {
  from{
    opacity: 0;
    visibility: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    visibility: 1;
    transform: translate3d(0, 0, 0);
  }
}
/* Fim das animações que serão reaproveitadas */
