@media (max-width: 1032px){

  .mobile-btn {
    display: block;
    width: 36px;
    height: 36px;
    color: #816B5F;
    border-top: 4px solid;
    cursor: pointer;
  }

  .mobile-btn::after, .mobile-btn::before {
    content: '';
    display: block;
    position: relative;
    height: 4px;
    width: 100%;
    margin-top: 8px;
    background: currentColor;
    transition: transform .2s ease;
  }

  .mobile-btn.ativo {
    border-top-color: transparent;
  }

  .mobile-btn.ativo::before {
    margin-top: 0;
    top: 16px;
    right: 4px;
    width: 45px;
    transform: rotate(135deg);
  }

  .mobile-btn.ativo::after {
    margin-top: 0;
    top: 12px;
    right: 4px;
    width: 45px;
    transform: rotate(45deg);
  }

  .nav-menu-container {
    display: block;
    position: absolute;
    right: 0;
    top: 68px;
  }

  .menu-mobile {
    width: 170px;
    display: block;
    background: #F0E5CF;
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1),
              0 5px 5px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(20px, 0, 0);
    transition: .3s ease;
  }

  .menu-mobile.ativo {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
  }

  .menu-mobile>li {
    border-top: 1px solid #816B5F;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .menu-mobile .dropdown-menu{
    position: static;
  }

  .menu-mobile .dropdown-menu a{
    justify-content: center;
  }

  .menu-mobile .login {
    margin-left: 0;
  }
}
