#slide-section {
  position: relative;
  max-height: 600px;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide-item {
  flex-shrink: 0;
  width: 100vw;
  max-height: 600px;
  position: relative;
  overflow: hidden;
}

.slide-item img {
  width: 100vw;
}

.slide-item .slide-caption {
  font-size: 4.5rem;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  color: #F0E5CF;
  position: absolute;
  bottom: 6rem;
  left: 0;
  width: 100vw;
  text-align: center;
}

.slide-controls {
  display: flex;
  justify-content: center;
}

.controls-wrapper{
  position: relative;
  bottom: 4rem;
  left: 0;
}

.slide-controls li a{
  text-indent: -99999px;
  background: #F0E5CF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 11px;
}

.slide-controls li a:hover,
.slide-controls li a.ativo{
  background: #D8AA75;
}

@media (max-width: 768px) {
  .slide-item .slide-caption {
    font-size: 3rem;
    bottom: 5rem;
  }
}

@media (max-width: 576px) {
  .slide-item .slide-caption {
    font-size: 3rem;
    bottom: 70px;
  }

  .controls-wrapper{
    bottom: 50px;
  }
}

@media (max-width: 576px) {
  .slide-item .slide-caption {
    font-size: 2rem;
    bottom: 50px;
  }

  .controls-wrapper{
    bottom: 40px;
  }
}
