* {
  font-family: 'Open Sans', sans-serif;
}

body, ul, ol, h2, h3, p, blockquote {
  margin: 0 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background: #EBE5E2;
}

/* Barra de menu */

.barra-menu {
  box-sizing: border-box;
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 7px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #F0E5CF;
  flex-wrap: wrap;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1),
              0 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.logo-container {
  width: 227px;
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
}

.nav-menu a {
  font-size: 1rem;
  color: #816B5F;
  font-family: 'Merriweather', serif;
  padding: 15px 20px;
}

.nav-menu a:hover {
  color: #D8AA75;
}

.nav-menu > li > a::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  margin-top: 2px;
  background: #D8AA75;
  transition: .3s ease;
}

.nav-menu > li > a:hover::after,
.nav-menu > li > a.ativo::after{
  width: 100%;
}

.login {
  margin-left: 25px;
}

.dropdown-menu{
  display: none;
  position: absolute;
  padding: 10px;
  background: #F0E5CF;
}

.nav-menu li:hover .dropdown-menu{
  display: block;
}

.dropdown-menu a{
  display: flex;
  align-items: center;
}

.dropdown-menu a::before{
  content: '';
  display: inline-block;
  width: 0;
  height: 2px;
  margin-right: 2px;
  background: #D8AA75;
  transition: .3s ease;
}

.dropdown-menu a:hover::before{
  width: 10px;
}

body {
  padding-top: 68px;
}

/* Slide */
#slide-section {
  position: relative;
}

.slide-wrapper {
  overflow: hidden;
}

.slide {
  display: flex;
}

.slide-item {
  flex-shrink: 0;
  width: 100vw;
  max-height: 600px;
  position: relative;
  overflow: hidden;
}

.slide-item img {
  width: 100vw;
}

.slide-item .slide-caption {
  font-size: 4.5rem;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  color: #F0E5CF;
  position: absolute;
  bottom: 6rem;
  left: 0;
  width: 100vw;
  text-align: center;
}

.slide-controls {
  display: flex;
  justify-content: center;
}

.controls-wrapper{
  position: relative;
  bottom: 4rem;
  left: 0;
}

.slide-controls li a{
  text-indent: -99999px;
  background: #F0E5CF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 11px;
}

.slide-controls li a:hover,
.slide-controls li a.ativo{
  background: #D8AA75;
}

/* Aproveite Section*/
.aproveite-section {
  padding: 2.60rem 0;
}

.titulo-container {
  margin: 2.60rem auto 1.7rem auto;
  max-width: 960px;
  text-align: center;
  color: #816B5F;
}

.titulo-section {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

.subtitulo-section {
  font-size: 1.2rem;
}

/* card */

.cards-container{
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.card {
  max-width: 259px;
  border-radius: 11px;
  background: #F0E5CF;
  padding: 15px 20px 34px 20px;
  margin: 20px 15px 20px 15px;
  text-align: center;
  color: #816B5F;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.icone-container {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  margin: 0 auto 10px auto;
}

.titulo-card {
  font-family: 'Merriweather', serif;
  font-size: 1.3rem;
  margin: 10px 0;
}

.titulo-card::after {
  content: '';
  display: block;
  width: 168px;
  height: 2px;
  background: #D8AA75;
  margin: 5px auto 0 auto;
}

.texto-card {
  font-size: 1.1rem;
}

