.tooltip {
  position: absolute;
  font-weight: bold;
  max-width: 300px;
  color: var(--areia);
  background: rgba(129, 107, 95, 0.9);
  padding: 10px 15px;
  border-radius: 5px;
  border: 3px solid var(--laranja);
}